extends AnalisisAproJefeLayout

block content

  <div id="content-wrapper" class="d-flex flex-column">

  <div id="content">

  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


  <ul class="navbar-nav ml-auto">

  <div class="topbar-divider d-none d-sm-block"></div>

  <li class="nav-item">
  <a class="btn btn-danger" href="/ApJInit" role="button" aria-expanded="false">Volver
  </a>
             
  </li>

  </ul>

  </nav>

  <div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Datos de los Pedidos</h1>
  <p class="mb-4">Aqui se pueden ver los datos de los pedidos.</p>
  <hr>
  <p>#{msg}</p>
  <div class="card shadow mb-4">
  <div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Tabla Pedidos</h6>
  </div>
  <div class="card-body">
  <div class="table-responsive" >
  <table class="table table-hover"  width="100%" cellspacing="0" id="table">
  <thead>
  <th>Id de la orden</th>
  <th>Id del usuario</th>
  <th>Detalle</th>
  <th>Tipo de entrega</th>
  <th>Fecha de orden</th>
  <th>Fecha de entrega</th>
  <th>Monto</th>
  <th>Provincia</th>
  <th>Canton</th>
  <th>Distrito</th>
  <th>Direccion</th>
  <th>Estado</th>
  <th>Actualizar</th>
  </thead>
  <tbody>
  each record in records
    <tr>
    td=record.IDORDEN
    td=record.IDUSUARIO
    td=record.DETALLE_ORDEN
    td=record.TIPOENTREGA
    td=record.FECHAORDEN
    td=record.FECHAENTREGA
    td=record.MONTO
    td=record.PROVINCIA
    td=record.CANTON
    td=record.DISTRITO
    td=record.DIRECCION
    td=record.ESTADO
    <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Actualizar</button></td>
    </tr>
  each
  </tbody>          
  </table>
  </div>
  </div>
  </div>

  </div>

  </div>

  <footer class="sticky-footer bg-white">
  <div class="container my-auto">
  <div class="copyright text-center my-auto">
  <span>Copyright &copy; Proyecto Analisis 2020</span>
  </div>
  </div>
  </footer>
  </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
  </a>
  </div>
  </div>
  </div>
  </div>
  <div class="modal" id="myModal">
  <div class="modal-dialog">
  <div class="modal-content">

  
  <div class="modal-header">
  <h4 class="modal-title">Actualizar Usuario</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <form action="/apJefe/uptEstadoPedido", method="POST" >

  <div class="modal-body">

  <div class="row form-group" style="margin-top: 10%;">
  <div class="col-md-1"></div>
  <label class="col-for-label col-md-3">Id del Usuario:</label>
  <div class="col-md-7">
  <input id="idAct" name="idAct" type="text" class="form-control"  readonly>
  </div>
  </div>
  <div class="row form-group">
  <div class="col-md-1"></div>
  <label class="col-for-label col-md-3">Estado:</label>
  <div class="col-md-7">
  <input required pattern= APROBADO||RECHAZADO id="estadoAct" name="estadoAct" type="text" class="form-control" placeholder="APROBADO o RECHAZADO">
  </div>
  </div>
  



  </div>

  <div class="modal-footer">
  <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-danger" >Actualizar</button>
  </div>

  </form>
  </div>
  </div>
  </div>
  script.
    
    var idAct = document.getElementById("idAct");
    var estadoAct = document.getElementById("estadoAct");

    var table = document.getElementById("table"), rIndex;
    for (var i = 1; i < table.rows.length; i++) {
        table.rows[i].onclick = function () {
            rIndex = this.rowIndex;
            idAct.value = this.cells[0].innerText;
        };
    };

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

