<!--Este layout guarda el head y los links de los css de las distintas ventanas, en cada ventana que utiliza este layout se hace un llamdo con extends
y despues se colocan los elemntos de la página como los inputs, labels, etc.-->
doctype html
html
  head
    <meta charset="utf-8">
    <title>Proyecto analisis</title>
    <link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sb-admin-2.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
  <body id="page-top">
  block content