<!--El extends layout lla ma al layout que contiene los links de los css y js que va a utilizar esta pagina-->
extends ComprasLayout

block content

    <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
    <div class="row">
    <div href="" class="col-lg-5 d-none d-lg-block bg-shop-image"></div>
    <div class="col-lg-7">
    <div class="p-5">
    <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Realice su pedido!</h1>
    </div>
    <form class="user">
    <div class="form-group row">
    <div class="col-sm-2 mb-3 mb-sm-0">
    <label>Usuario:</label>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
    <input readOnly type="text" pattern="[0-9]{9}" class="form-control form-control-user" id="cedula" name="cedula">
    </div>
    
    </div>
    <div class="form-group">
    <textarea required maxlength="255" class="form-control form-control-user" rows="4" placeholder="Detalle de la orden" name="det"></textarea>
    </div>
    <div class="form-group">
    <input onchange="montoCambio()" required name="tipo" id="tipo" type="text" pattern= "DOMICILIO||RECOLECTA EN EL LOCAL" class="form-control form-control-user"   placeholder="Tipo de entrega(DOMICILIO o RECOLECTA EN EL LOCAL)">
    </div>
    <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
    <input required min="2020-07-20" type="date" class="form-control form-control-user" name="fenchaEnt"  >
    </div>
    <div class="col-sm-6">
    <input required type="text" readOnly  class="form-control form-control-user" placeholder="Monto" id="monto" name="monto" >
    </div>
    </div>
    <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
    <input required type="text" class="form-control form-control-user" name="prov" placeholder="Provincia">
    </div>
    <div class="col-sm-6">
    <input required type="text" class="form-control form-control-user" name="cant" placeholder="Canton">
    </div>
    </div>
    <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
    <input required type="text" class="form-control form-control-user" name="dist" placeholder="Distrito">
    </div>
    </div>
    <div class="form-group">
    <textarea required maxlength="255" class="form-control form-control-user" rows="4" placeholder="Direccion" name="dir"></textarea>
    </div>
    <p>#{msg}</p>
    
    <button type="submit" class="btn btn-success btn-user btn-block">Realizar Pedido
    </button>
    <br>
    <hr>
    <a href="/CliInit">
    <button  type="button"  class="btn btn-danger btn-user btn-block">Cancelar
    </button>
    </a>
    </form>
    <hr>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    script.
       var cedula = document.getElementById('cedula');
       cedula.value = localStorage.getItem('idUser');

       var tipo = document.getElementById('tipo');
       var montoPago = document.getElementById('monto');

       function montoCambio(){
            montoPago.value =Math.round(Math.random() * 1000000001) / 100 
        }