<!--El extends layout lla ma al layout que contiene los links de los css y js que va a utilizar esta pagina-->
extends InicioCLienteLayout

block content

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="index.html"><img src="https://get.mw.cr/c/aurens/content/images/colleges/logos/6.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>
    <li class="nav-item">
    <form action=/login/CerrarSesion method=POST>
    <input type="hidden" id=sesionControlUser name=sesionControlUser> 
    <button class="btn btn-danger" type=submit >Cerrar Sesion</button>
    </form>
    </li>
    </ul>
    </div>
    </div>
    </nav>


    <div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="https://gazetushka.ru/wp-content/uploads/2019/09/cropped-OmniChannel.jpg">
    <div class="carousel-caption">
    </div>
    </div>
    <div class="carousel-item">
    <img src="https://images.squarespace-cdn.com/content/v1/5893812bb3db2bc283192ff9/1486167738540-WIQW33HL2H31WVA35ZOI/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/business-1845350.jpg?format=2500w">
    </div>
    <div class="carousel-item">
    <img src="https://mk0servenomastewgt8i.kinstacdn.com/wp-content/uploads/2020/06/foto_no_exif-15-scaled.jpg">
    </div>
    </div>
    </div>
    <hr class="my-4">
    
    <figure>
    <div class="fixed-wrap">
    <div id="fixed">
    </div>
    </div>
    </figure>


    <div class="container-fluid">
    <div class="row justify-content-center text-center mt-4">
    <div class="col-md-11 col-lg-9">
    <h1 class="display-5">Bienvenido!</h1>
    <p class="lead">Aquí puede realizar sus compras de manera segura </p>
    </div>
    </div>
    </div>

    

    <div class="container-fluid">
    <div class="row text-center">
    <div class="col-sm-6 col-md-4">
    <a href="/" class="btn btn-basic"><i class="fas fa-people-arrows"></i></a>
    <h3>Sobre nosotros</h3>
    <p>Seleccione para conocer más acerca de nosotros</p>
    </div>

    <div class="col-sm-6 col-md-4">
    <a href="/ComprasCli" class="btn btn-basic"><i class="fab fa-amazon-pay"></i></a>
    <h3>Compras</h3>
    <p>Seleccione para realizar su compra</p>
    </div>
    <form action="/det/getDetOrden", method="post">
    <div class="col-md-12">
    <button class="btn btn-basic" type="submit"><i class="fas fa-address-book"></i></button>
    <h3>Personal</h3>
    <p>Seleccione para ver el estado de sus pedidos</p>
    </div>
    <input readOnly type="hidden" id="idUsuario" name="idUsuario"/>
    </form>
    
    </div>
    </div>


    <figure>
    <div class="fixed-wrap">
    <div id="fixed">

    </div>
    </div>
    </figure>

    <hr class="my-4">
    <div class="container-fluid">
    <div class="row text-center">
    <div class="col-12">
    <h2>Patrocinado por</h2>
    </div>
    <div class="col-12 social">
    <a href="https://www.apple.com/la/"><i class="fab fa-apple"></i>
    <a href="https://www.amazon.ca/ref=nav_logo" target="_blank"><i class="fab fa-amazon"></i>
    <a href="https://www.airbnb.co.cr/" target="_blank"><i class="fab fa-airbnb"></i>
    <a href="https://www.paypal.com/"><i class="fab fa-cc-paypal"></i>

    </div>
    </div>

    script.
        var inputUser = document.getElementById("idUsuario");
        inputUser.value=localStorage.getItem('idUser')
        let sesionControlUser = document.getElementById("sesionControlUser");
        sesionControlUser.value = localStorage.getItem('idUser');
    