<!--El extends layout lla ma al layout que contiene los links de los css y js que va a utilizar esta pagina-->
extends InicioFin1Layout

block content

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="index.html"><img src="https://get.mw.cr/c/aurens/content/images/colleges/logos/6.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>
    <li class="nav-item">
    <form action=/login/CerrarSesion method=POST>
    <input type="hidden" id=sesionControlUser name=sesionControlUser> 
    <button class="btn btn-danger" type=submit >Cerrar Sesion</button>
    </form>
    </li>
    </ul>
    </div>
    </div>
    </nav>


    <div class="container-fluid">
    <div class="row justify-content-center text-center mt-4">
    <div class="col-md-11 col-lg-9">
    <h1 class="display-5">Bienvenido!</h1>
    </div>
    </div>
    </div>
    <form class="col-md-12" action="/apFin/getPedidosApFin" method="post">
    <div class="container-fluid">
    <div class="row text-center">
    
    <input type="hidden" name="valRep" id="valRep" />
    <div class="col-md-6">
    <button onclick=valReporte(1) type="submit" class="btn btn-basic"><i class="fab fa-amazon-pay"></i></button>
    <h3>Pedidos</h3>
    <p>Seleccione para analizar pedidos</p>
    </div>
    
    <div class="col-md-6">
    <button onclick=valReporte(2) type="submit" class="btn btn-basic"><i class="fas fa-address-book"></i></button>
    <h3>Reportes</h3>
    <p>Seleccione para ver el reporte de pedidos</p>
    </div>
    <input readOnly type="hidden" value="#{rol}" id=rolFin  name="rolFin" />
    
    
    </div>
    </div>
    </form>

    <figure>
    <div class="fixed-wrap">
    <div id="fixed">

    </div>
    </div>
    </figure>
    
    <hr class="my-4">
    <div class="container-fluid">
    <div class="row text-center">
    <div class="col-12">
    <h2>Patrocinado por</h2>
    </div>
    <div class="col-12 social">
    <a href="https://www.apple.com/la/"><i class="fab fa-apple"></i>
    <a href="https://www.amazon.ca/ref=nav_logo" target="_blank"><i class="fab fa-amazon"></i>
    <a href="https://www.airbnb.co.cr/" target="_blank"><i class="fab fa-airbnb"></i>
    <a href="https://www.paypal.com/"><i class="fab fa-cc-paypal"></i>

    </div>
    </div>

    script.
       let rolFin = document.getElementById('rolFin');
       localStorage.setItem('roles',rolFin);
       let valRep = document.getElementById('valRep');
       let sesionControlUser = document.getElementById("sesionControlUser");
        sesionControlUser.value = localStorage.getItem('idUser');
       function valReporte(v){
            if(v == '1'){
                valRep.value= "No"
            }
            else{
                valRep.value= "Si"
            }
       }