<!--Este layout guarda el head y los links de los css de las distintas ventanas, en cada ventana que utiliza este layout se hace un llamdo con extends
y despues se colocan los elemntos de la página como los inputs, labels, etc.-->
doctype html
html
  head
    <meta charset="utf-8">
    <title>Proyecto analisis</title>
    <script src="https://kit.fontawesome.com/dc84518916.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fixed.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  block content