<!--El extends layout lla ma al layout que contiene los links de los css y js que va a utilizar esta pagina-->
extends layout

block content

  <div class="container">
  <div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
  <div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
  <div class="row">
  <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
  <div class="col-lg-6">
  <div class="p-5">
  <div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
  </div>
  <form class="user" action="/login/Login" method="POST">
  <div class="form-group">
  <input required type="text" pattern="[0-9]{9}" id="user" class="form-control" name="user" placeholder="Ingrese su numero de cédula">
  </div>
  <div class="form-group">
  <input required type="password" class="form-control" name="pass" placeholder="Contraseña">
  </div>
  <div class="form-group">
  <div class="custom-control custom-checkbox small">
  </div>
  </div>
  <button onclick="AgregarId()" type="submit" class="btn btn-primary btn-user btn-block">Login</button>
  <hr>
  p #{msg}
  </form>  
  <div>   
  <div style=visibility:hidden>
  <form class="user" action="/login/Sesion" method="POST">
  <input type="text" id="sesionControlUser" name="sesionControlUser">
  <button id="botonSesion" type="submit"></button>
  <input  type="text" id="sesionControlEXT"  name="sesionControlEXT" value=#{sesion} >
  </div>
  
  </form> 
  
  </div>                 
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  script.
    let iduser = document.getElementById('user');
    let botonSesion = document.getElementById('botonSesion');
    let sesionControlUser = document.getElementById('sesionControlUser');
    let sesionControlEXT = document.getElementById('sesionControlEXT');
    sesionControlUser.value = localStorage.getItem('idUser');
    iduser.value = localStorage.getItem('idUser');
    if(sesionControlEXT.value == 1 || sesionControlEXT.value == ""){
      botonSesion.click();
    }else{
      
    }
    function AgregarId(){
      
      localStorage.setItem('idUser', iduser.value);
    
    }
    
   

