extends UserTableLayout

block content

  <div id="content-wrapper" class="d-flex flex-column">

  <div id="content">

  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


  <ul class="navbar-nav ml-auto">

  <div class="topbar-divider d-none d-sm-block"></div>

  <li class="nav-item">
  <a class="btn btn-danger" href="/CliInit" role="button" aria-expanded="false">Volver
  </a>
             
  </li>

  </ul>

  </nav>

  <div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Datos de los Pedidos</h1>
  <p class="mb-4">Aqui se pueden ver los datos de los pedidos.</p>
  <hr>
  <div class="card shadow mb-4">
  <div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">Tabla Pedidos</h6>
  </div>
  <div class="card-body">
  <div class="table-responsive" >
  <table class="table table-hover"  width="100%" cellspacing="0" id="table">
  <thead>
  <th>ID de Orden</th>
  <th>Fecha de primera aprobación</th>
  <th>Fecha de segunda aprobación</th>
  <th>Resultado del primer análisis</th>
  <th>Resultado de segundo análisis</th>
  <th>Condición Final</th>
  </thead>
  <tbody>
  each record in records
    <tr>
    td=record.IDDETORDEN
    td=record.FECHAAPROBACION_1
    td=record.FECHAAPROBACION_2
    td=record.RESULTADOANALISIS_1
    td=record.RESULTADOANALISIS_2
    td=record.CONDICIONFINAL
    </tr>
  each
  </tbody>          
  </table>
  </div>
  </div>
  </div>

  </div>

  </div>

  <footer class="sticky-footer bg-white">
  <div class="container my-auto">
  <div class="copyright text-center my-auto">
  <span>Copyright &copy; Proyecto Analisis 2020</span>
  </div>
  </div>
  </footer>
  </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
  </a>
  </div>
  </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

