<!--El extends layout lla ma al layout que contiene los links de los css y js que va a utilizar esta pagina-->
extends ReporteFinLayout

block content
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


    <ul class="navbar-nav ml-auto">

    <div class="topbar-divider d-none d-sm-block"></div>
    
    <li class="nav-item">
    
    <form action=/InicioFin method=POST>
    <button class="btn btn-danger" type="submit" aria-expanded="false">Volver
    </button>  
    </li>
    <input name="rolFin" type="hidden" value="#{rol}" />
    </form>
    </ul>

    </nav>
    
    <div class="container">
    <div class= "row form-group">
    <div class= "col-md-4">
    <select class="form-control col-md-8" id="mesSel" onchange=mesFiltro()> 
    <option value= '3'>3 Meses</option>
    <option value= '6'>6 Meses</option>
    <option value= '12'>12 Meses</option>
    </select>
    </div>
    <div class= "col-md-2">
    <form action="/apFin/getPedidosReport", method="post">
     
    <button class="btn btn-success" type="submit">Filtrar</button>
    </div>
    <input id=valMes name=valMes type="hidden" value=3 />
    <input name="rolFinVal" type="hidden" value="#{rol}" />
    </div>
    </form>
    <div class="card o-hidden border-0 shadow-lg my-5">
    <canvas id="myChart" width="700" height="400"></canvas>
    </div>
    </div>
    each record in records
       <input id=#{record.IDORDEN}+10 type="hidden" value=#{record.MONTO} />
       <input id=#{record.IDORDEN} type="hidden" value=#{record.DETALLE_ORDEN} />
    each

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    script.
        var mes = document.getElementById('mesSel');
        var valMes = document.getElementById('valMes');
        var ctx = document.getElementById('myChart').getContext('2d');
        var control = document.getElementsByTagName('input').length
        console.log(control)
        var montosLista = [];
        var detalles = [];
        function cargarMontos(){
           for(i=0; i< 1000;i++){
                try{
                    var montos = document.getElementById(i+"+10")
                    montosLista.push(montos.value)
                    
                }catch(exceptionx){
                    console.log(i)
                }
           }
        }
        
        function cargarDetails(){
            for(i=0; i< 1000;i++){
                try{
                    var montos = document.getElementById(i)
                    detalles.push(montos.value)
                    
                }catch(exceptionx){
                    console.log(i)

                }
           }
        }
        
        

        
        cargarMontos()
        cargarDetails()
        console.log(montosLista)
        console.log(detalles)
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: detalles,
                datasets: [{
                    label: 'Pedidos',
                    data: montosLista,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        function mesFiltro(){
            if(mes.value == 3){
                valMes.value="3"
            }
            if(mes.value == 6){
                valMes.value="6"
            }
            if(mes.value == 12){
                valMes.value="12"
            }
        }


