@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

.navbar {
    padding: .8rem;
}

.navbar-brand img {
    height: 4rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover,
.nax-link.active {
    border-bottom: .1rem solid black;
}


/*---Media Queries --*/

S @media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 575px) {}

.carousel-inner img {
    width: 100%;
}

.carousel-caption {
    transform: translateY(-50%);
    top: 60%;
}

.carousel-caption h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: .1rem .1rem 1rem black
}

.carousel-caption h3 {
    font-size: 3rem;
    text-shadow: .1rem .1rem .5rem black: padding bottom: 1rem
}

.btn {
    font-weight: 500;
    border-width: medium;
}

.fa-people-arrows {
    font-size: 5rem;
    margin: 1rem;
    color: black;
}

.fa-amazon-pay {
    font-size: 5rem;
    margin: 1rem;
    color: purple;
}

.fa-address-book {
    font-size: 5rem;
    margin: 1rem;
    color: orange;
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

figure {
    position: relative;
    width: 100%;
    height: 40%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url("https://images.squarespace-cdn.com/content/v1/56fd77c91d07c0014d8f96fd/1555947492601-PT4CDWE6DEMJQ1QY5OCY/ke17ZwdGBToddI8pDm48kBbreg9YnI_L5ISjRktGOpZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0luj0xCD0oh5KMc0gpox0u-xNhAmwx7aJ2ZxvCgXdonxNI7J94h4GBbFkA2wniPuRA/AdobeStock_115460256.jpeg?format=2500w");
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    padding-top: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}

.social {
    font-size: 100px;
    padding-right: 5px;
}